
/* image at the landing page*/
.landing-grid{
  background-color: whitesmoke;
  text-align: center;
  width: 50%;
  
}

.image{
  margin-left: 250px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 80px;
}

/* social links */
.social-links{
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
}

.social-links i{
  color: rgb(12, 12, 12);
  font-size: 3em;
 
  margin-left: 50px;
}

.banner-text h1 {
  font-size: 30px;
  padding-left: 6em;
}

.banner-text h3 {
  font-size: 20px;
  padding-left: 9em;
}

.banner-text hr{
  border-top: 5px dotted gray;
  width: 60%;
  margin-left: 200px;
}

.title h1 {
  font-size: 20px;
}

.title{
  font-size: 10px;
  text-align: left; 
}

